#network-container {
  /* padding: 50px 50px; */
}
#network-wrapper{
  /* padding-top:20px; */
}

iframe{
  border:0 !important;
  overflow: hidden;
}
iframe body{
  overflow: hidden;
}

#network .dropdown-wrapper{
  right: 0 !important;
  left: inherit !important;
  margin: 20px !important;
}

.no-min-height{
  min-height: inherit !important;
}